.navbar {
    background-color: rgb(24, 48, 66)!important;
}

.navbar-brand {
    padding-top: 0rem;
    padding-bottom: 0rem;
    
}
.navbar-brand   img {
    max-height: 60px;
}




form .avatar{
    width: 55px;
    margin-bottom: 15px;
}

.navbar .container-avatar,
.pub_image .container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
    margin-left:20px;
}

.navbar .container-avatar img,
.pub_image .container-avatar img{
    height: 100%;
}

.pub_image{
    margin-bottom: 25px;
}

.pub_image .container-avatar{
    float:left;
     margin-right:15px;
}
.pub_image .data-user{
    font-weight: bold;
    line-height: 35px;
}

.pub_image .data-user a{
    color: #444;
}

.pub_image .nickname{
    color:gray;
}

.image-container{
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.image-detail{
    max-height: 500px;
}

.image-container img{
    width: 100%;
}

.pub_image .card-body{
    padding:0px;
}

.pub_image .description{
    padding: 20px;
    padding-bottom: 0px;
}

.pub_image .btn-comments{
    margin: 20px;
    margin-top:0px;
    margin-left:0px;
}

.likes{
    float:left;
    padding-left:20px;
    padding-right: 10px;
}

.likes img{
    width: 20px;
}

.pub_image_detail .comments {
    padding: 20px;
}

.number_likes{
    color: gray;
    font-size: 11px;
}

.profile-user{
    height: 200px;
    margin-bottom: 40px;
}

.profile-user .container-avatar{
    width: 200px;
    height: 200px;
    border-radius: 900px;
    overflow: hidden;
    float:left;
}
.profile-user .container-avatar img{
   height: 100%;
}

.profile-user .user-info{
    float: left;
    padding-left: 30px;
    padding-top: 30px;
}

.btn-search{
    margin-left: 0px;
    padding-left: 0px;
}
.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem
}






.btn.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0
}

.template-demo>.btn {
    margin-right: 0.5rem !important
}

.template-demo {
    margin-top: 0.5rem !important
}

.btn.btn-rounded {
    border-radius: 50px
}

.btn-outline-facebook {
    border: 1px solid #3b579d;
    color: #3b579d
}

.btn-outline-facebook:hover {
    background: #3b579d;
    color: #ffffff
}

.btn-outline-google {
    border: 1px solid #e52d27;
    color: #e52d27
}

.btn-outline-twitter {
    border: 1px solid #2caae1;
    color: #2caae1
}

.btn-outline-dribbble {
    border: 1px solid #ea4c89;
    color: #ea4c89
}

.btn-outline-linkedin {
    border: 1px solid #0177b5;
    color: #0177b5
}

.btn-outline-instagram {
    border: 1px solid #dc4a38;
    color: #dc4a38
}

.btn-outline-twitter:hover {
    background: #2caae1;
    color: #ffffff
}

.btn-outline-linkedin:hover {
    background: #0177b5;
    color: #ffffff
}

.btn-outline-google:hover {
    background: #e52d27;
    color: #ffffff
}

.btn-outline-instagram:hover {
    background: #e52d27;
    color: #ffffff
}

.btn-facebook {
    background: #3b579d;
    color: #ffffff
}

.btn-google {
    background: #e52d27;
    color: #ffffff
}

.btn-twitter {
    background: #2caae1;
    color: #ffffff
}

.btn-dribbble {
    background: #ea4c89;
    color: #ffffff
}

.btn-linkedin {
    background: #0177b5;
    color: #ffffff
}

.btn-instagram {
    background: #dc4a38;
    color: #ffffff
}

.btn-facebook:hover,
.btn-facebook:focus {
    background: #2d4278;
    color: #ffffff
}

.btn-google:hover,
.btn-google:focus {
    background: #c21d17;
    color: #ffffff
}

.btn-twitter:hover,
.btn-twitter:focus {
    background: #1b8dbf;
    color: #ffffff
}

.btn-dribbble:hover,
.btn-dribbble:focus {
    background: #e51e6b;
    color: #ffffff
}

.btn-linkedin:hover,
.btn-linkedin:focus {
    background: #015682;
    color: #ffffff
}

.btn-instagram:hover,
.btn-instagram:focus {
    background: #bf3322;
    color: #ffffff
}












